body{
    /* height: 100vw;
    width: 100vw; */
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: bisque;
}

main{
    width: 525px;
    height: 525px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* BOTÕES JOGO */
.botaoVerde{
    background-color: green;
    width: 50%;
    height: 50%;
    border-radius: 250px 0px 0px 0px;
    cursor: pointer;
}

.botaoVermelho{
    background-color: red;
    width: 50%;
    height: 50%;
    border-radius: 0px 250px 0px 0px;
    cursor: pointer;
}

.botaoAmarelo{
    background-color: yellow;
    width: 50%;
    height: 50%;
    border-radius: 0px 0px 0px 250px;
    cursor: pointer;
}

.botaoAzul{

    background-color: blue;
    width: 50%;
    height: 50%;
    border-radius: 0px 0px 250px 0px;
    cursor: pointer;
}

/* DISPLAY */

.displayJogo{

    background-color: #cecece;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divDisplay{
    width: 100px;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botaoIniciar{
    background-color: #cecece;
    width: 100px;
    height: 30px;
}